<form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
        <label for="exampleInputEmail1">Titre</label>
        <input formControlName="title" type="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contenu</label>
        <textarea formControlName="content" class="form-control"></textarea>
    </div>
    <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary">Enregistrer</button>
</form>